<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpamines.dogseek.dict.model.dao.DictMapper">
    <resultMap id="dictResultMap" type="com.dogpamines.dogseek.dict.model.dto.DictDTO">
        <id property="dogCode" column="DOG_CODE"/>
        <result property="dogName" column="DOG_NAME"/>
        <result property="dogSize" column="DOG_SIZE"/>
        <result property="dogSummary" column="DOG_SUMMARY"/>
        <result property="dogHeightM" column="DOG_HEIGHT_M"/>
        <result property="dogWeightM" column="DOG_WEIGHT_M"/>
        <result property="dogHeightF" column="DOG_HEIGHT_F"/>
        <result property="dogWeightF" column="DOG_WEIGHT_F"/>
        <result property="dogChild" column="DOG_CHILD"/>
        <result property="dogYouth" column="DOG_YOUTH"/>
        <result property="dogEld" column="DOG_ELD"/>
        <result property="dogDisease" column="DOG_DISEASE"/>
        <result property="dogDrool" column="DOG_DROOL"/>
        <result property="dogSocial" column="DOG_SOCIAL"/>
        <result property="dogShed" column="DOG_SHED"/>
        <result property="dogBark" column="DOG_BARK"/>
        <result property="dogPet" column="DOG_PET"/>
        <result property="dogHot" column="DOG_HOT"/>
        <result property="dogCold" column="DOG_COLD"/>
        <result property="dogHouse" column="DOG_HOUSE"/>
        <result property="dogGroom" column="DOG_GROOM"/>
        <result property="dogActi" column="DOG_ACTI"/>
        <result property="dogImage" column="DOG_IMAGE"/>
    </resultMap>

    <select id="selectAllDog" resultMap="dictResultMap">
        SELECT
        DOG_CODE
        , DOG_NAME
        , DOG_SIZE
        , DOG_IMAGE
        FROM DOG
    </select>

    <select id="selectByName" resultMap="dictResultMap">
        SELECT
        DOG_CODE
        , DOG_NAME
        , DOG_SIZE
        , DOG_SUMMARY
        , DOG_HEIGHT_M
        , DOG_WEIGHT_M
        , DOG_HEIGHT_F
        , DOG_WEIGHT_F
        , DOG_CHILD
        , DOG_YOUTH
        , DOG_ELD
        , DOG_DISEASE
        , DOG_DROOL
        , DOG_SOCIAL
        , DOG_SHED
        , DOG_BARK
        , DOG_PET
        , DOG_HOT
        , DOG_COLD
        , DOG_HOUSE
        , DOG_GROOM
        , DOG_ACTI
        , DOG_IMAGE
        FROM DOG
        WHERE DOG_Name = #{ dogName }
    </select>

    <select id="selectByCode" resultMap="dictResultMap">
        SELECT
        DOG_CODE
        , DOG_NAME
        , DOG_SIZE
        , DOG_SUMMARY
        , DOG_HEIGHT_M
        , DOG_WEIGHT_M
        , DOG_HEIGHT_F
        , DOG_WEIGHT_F
        , DOG_CHILD
        , DOG_YOUTH
        , DOG_ELD
        , DOG_DISEASE
        , DOG_DROOL
        , DOG_SOCIAL
        , DOG_SHED
        , DOG_BARK
        , DOG_PET
        , DOG_HOT
        , DOG_COLD
        , DOG_HOUSE
        , DOG_GROOM
        , DOG_ACTI
        , DOG_IMAGE
        FROM DOG
        WHERE DOG_CODE = #{ dogCode }
    </select>

    <select id="searchDog" resultMap="dictResultMap">
        SELECT
        DOG_CODE
        , DOG_NAME
        , DOG_SIZE
        , DOG_IMAGE
        FROM DOG
        WHERE DOG_NAME LIKE CONCAT('%', #{dogName}, '%')
    </select>

    <select id="dictSearch" resultMap="dictResultMap">
        SELECT
        DOG_CODE
        , DOG_NAME
        , DOG_SIZE
        , DOG_SUMMARY
        , DOG_HEIGHT_M
        , DOG_WEIGHT_M
        , DOG_HEIGHT_F
        , DOG_WEIGHT_F
        , DOG_CHILD
        , DOG_YOUTH
        , DOG_ELD
        , DOG_DISEASE
        , DOG_DROOL
        , DOG_SOCIAL
        , DOG_SHED
        , DOG_BARK
        , DOG_PET
        , DOG_HOT
        , DOG_COLD
        , DOG_HOUSE
        , DOG_GROOM
        , DOG_ACTI
        FROM DOG
        <if test="type == 'dogName'">
            WHERE DOG_NAME LIKE CONCAT('%', #{ input }, '%')
        </if>
        <if test="type == 'dogSize'">
            WHERE DOG_SIZE LIKE CONCAT('%', #{ input }, '%')
        </if>
    </select>

    <select id="getLastDogCode" resultType="_int">
        SELECT
        MAX(DOG_CODE)
        FROM DOG
    </select>

    <insert id="insertDict" parameterType="com.dogpamines.dogseek.dict.model.dto.DictDTO">
        INSERT INTO DOG(
        DOG_CODE
        , DOG_NAME
        , DOG_SIZE
        , DOG_SUMMARY
        , DOG_HEIGHT_M
        , DOG_WEIGHT_M
        , DOG_HEIGHT_F
        , DOG_WEIGHT_F
        , DOG_CHILD
        , DOG_YOUTH
        , DOG_ELD
        , DOG_DISEASE
        , DOG_DROOL
        , DOG_SOCIAL
        , DOG_SHED
        , DOG_BARK
        , DOG_PET
        , DOG_HOT
        , DOG_COLD
        , DOG_HOUSE
        , DOG_GROOM
        , DOG_ACTI
        , DOG_IMAGE)
        VALUES(
        #{ dogCode }
        , #{ dogName }
        , #{ dogSize }
        , #{ dogSummary }
        , #{ dogHeightM }
        , #{ dogWeightM }
        , #{ dogHeightF }
        , #{ dogWeightF }
        , #{ dogChild }
        , #{ dogYouth }
        , #{ dogEld }
        , #{ dogDisease }
        , #{ dogDrool }
        , #{ dogSocial }
        , #{ dogShed }
        , #{ dogBark }
        , #{ dogPet }
        , #{ dogHot }
        , #{ dogCold }
        , #{ dogHouse }
        , #{ dogGroom }
        , #{ dogActi }
        , #{ dogImage })
    </insert>

    <update id="updateDict" parameterType="com.dogpamines.dogseek.dict.model.dto.DictDTO">
        UPDATE DOG
        <set>
            DOG_CODE = #{ dogCode }
            <if test="dogName != ''">
                , DOG_NAME = #{ dogName }
            </if>
            <if test="dogSize != ''">
                , DOG_SIZE = #{ dogSize }
            </if>
            <if test="dogSummary != ''">
                , DOG_SUMMARY = #{ dogSummary }
            </if>
            <if test="dogHeightM != ''">
                , DOG_HEIGHT_M = #{ dogHeightM }
            </if>
            <if test="dogWeightM != ''">
                , DOG_WEIGHT_M = #{ dogWeightM }
            </if>
            <if test="dogHeightF != ''">
                , DOG_HEIGHT_F = #{ dogHeightF }
            </if>
            <if test="dogWeightF != ''">
                , DOG_WEIGHT_F = #{ dogWeightF }
            </if>
            <if test="dogChild != ''">
                , DOG_CHILD = #{ dogChild }
            </if>
            <if test="dogYouth != ''">
                , DOG_YOUTH = #{ dogYouth }
            </if>
            <if test="dogEld != ''">
                , DOG_ELD = #{ dogEld }
            </if>
            <if test="dogDisease != ''">
                , DOG_DISEASE = #{ dogDisease }
            </if>
            <if test="dogDrool != ''">
                , DOG_DROOL = #{ dogDrool }
            </if>
            <if test="dogSocial != ''">
                , DOG_SOCIAL = #{ dogSocial }
            </if>
            <if test="dogShed != ''">
                , DOG_SHED = #{ dogShed }
            </if>
            <if test="dogBark != ''">
                , DOG_BARK = #{ dogBark }
            </if>
            <if test="dogPet != ''">
                , DOG_PET = #{ dogPet }
            </if>
            <if test="dogHot != ''">
                , DOG_HOT = #{ dogHot }
            </if>
            <if test="dogCold != ''">
                , DOG_COLD = #{ dogCold }
            </if>
            <if test="dogHouse != ''">
                , DOG_HOUSE = #{ dogHouse }
            </if>
            <if test="dogGroom != ''">
                , DOG_GROOM = #{ dogGroom }
            </if>
            <if test="dogActi != ''">
                , DOG_ACTI = #{ dogActi }
            </if>
            <if test="dogImage != null">
                , DOG_IMAGE = #{ dogImage }
            </if>
        </set>
        WHERE DOG_CODE = #{ dogCode }
    </update>

    <delete id="deleteDict" parameterType="_int">
        DELETE FROM DOG
        WHERE DOG_CODE = #{ dogCode }
    </delete>
</mapper>