<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpamines.dogseek.products.model.dao.ProductsMapper">
    <resultMap id="productsResultMap" type="com.dogpamines.dogseek.products.model.dto.ProductsDTO">
        <id property="prodCode" column="PROD_CODE"/>
        <result property="prodName" column="PROD_NAME"/>
        <result property="prodManufac" column="PROD_MANUFAC"/>
        <result property="prodPrice" column="PROD_PRICE"/>
        <result property="prodAge" column="PROD_AGE"/>
        <result property="prodEffi" column="PROD_EFFI"/>
        <result property="prodRecom" column="PROD_RECOM"/>
        <result property="prodSite" column="PROD_SITE"/>
        <result property="prodCook" column="PROD_COOK"/>
        <result property="prodVolume" column="PROD_VOLUME"/>
        <result property="prodGrade" column="PROD_GRADE"/>
        <result property="prodIngra" column="PROD_INGRA"/>
        <result property="prodSize" column="PROD_SIZE"/>
        <result property="prodDate" column="PROD_DATE"/>
        <result property="prodStatus" column="PROD_STATUS"/>
        <result property="prodImage" column="PROD_IMAGE"/>
        <result property="prodVisit" column="PROD_VISIT"/>
    </resultMap>

    <select id="selectAllProducts" resultMap="productsResultMap">
        SELECT
        PROD_CODE
        , PROD_NAME
        , PROD_MANUFAC
        , PROD_PRICE
        , PROD_AGE
        , PROD_EFFI
        , PROD_RECOM
        , PROD_SITE
        , PROD_COOK
        , PROD_VOLUME
        , PROD_GRADE
        , PROD_INGRA
        , PROD_SIZE
        , PROD_DATE
        , PROD_STATUS
        , PROD_IMAGE
        , PROD_VISIT
        FROM PROD
    </select>

    <select id="selectFindByCode" resultMap="productsResultMap">
        SELECT
        PROD_CODE
        , PROD_NAME
        , PROD_MANUFAC
        , PROD_PRICE
        , PROD_AGE
        , PROD_EFFI
        , PROD_RECOM
        , PROD_SITE
        , PROD_COOK
        , PROD_VOLUME
        , PROD_GRADE
        , PROD_INGRA
        , PROD_SIZE
        , PROD_DATE
        , PROD_STATUS
        , PROD_IMAGE
        , PROD_VISIT
        FROM PROD
        WHERE PROD_CODE = #{ prodCode }
    </select>

    <select id="productsComparison" resultMap="productsResultMap">
        SELECT
        PROD_CODE
        , PROD_NAME
        , PROD_MANUFAC
        , PROD_PRICE
        , PROD_AGE
        , PROD_EFFI
        , PROD_RECOM
        , PROD_SITE
        , PROD_COOK
        , PROD_VOLUME
        , PROD_GRADE
        , PROD_INGRA
        , PROD_SIZE
        , PROD_DATE
        , PROD_STATUS
        , PROD_IMAGE
        FROM PROD
        WHERE PROD_CODE = #{ prodCode1 }
        OR PROD_CODE = #{ prodCode2 }
    </select>

    <select id="searchProducts" resultMap="productsResultMap">
        SELECT
        PROD_CODE,
        PROD_NAME,
        PROD_MANUFAC,
        PROD_PRICE,
        PROD_AGE,
        PROD_EFFI,
        PROD_RECOM,
        PROD_SITE,
        PROD_COOK,
        PROD_VOLUME,
        PROD_GRADE,
        PROD_INGRA,
        PROD_SIZE,
        PROD_DATE,
        PROD_STATUS,
        PROD_IMAGE
        FROM PROD
        <where>
            <trim prefixOverrides="AND">
                <if test="value != null and value != ''">
                    PROD_NAME Like CONCAT('%', #{ value }, '%')
                </if>
                <if test="prodPrice != null and prodPrice != ''">
                    AND PROD_PRICE &lt;= #{ prodPrice }
                </if>
                <if test="prodAge != null and prodAge != ''">
                    AND PROD_AGE IN (#{ prodAge }, '전체')
                </if>
                <if test="prodEffi != null and prodEffi != ''">
                    AND PROD_EFFI Like CONCAT ('%', #{ prodEffi }, '%')
                </if>
                <if test="prodRecom != null and prodRecom != ''">
                    AND PROD_RECOM IN (#{ prodRecom }, '전체')
                </if>
                <if test="prodCook != null and prodCook != ''">
                    AND PROD_COOK = #{ prodCook }
                </if>
                <if test="prodSize != null and prodSize != ''">
                    <choose>
                        <when test="prodSize == 8">
                            AND PROD_SIZE &lt; 8
                        </when>
                        <when test="prodSize == 10">
                            AND PROD_SIZE BETWEEN 8 AND 13
                        </when>
                        <when test="prodSize == 13">
                            AND PROD_SIZE &gt; 13
                        </when>
                    </choose>
                </if>
            </trim>
        </where>
    </select>

    <select id="mostProducts" resultMap="productsResultMap">
        SELECT
            PROD_CODE
            , PROD_NAME
            , PROD_MANUFAC
            , PROD_PRICE
            , PROD_AGE
            , PROD_EFFI
            , PROD_RECOM
            , PROD_SITE
            , PROD_COOK
            , PROD_VOLUME
            , PROD_GRADE
            , PROD_INGRA
            , PROD_SIZE
            , PROD_DATE
            , PROD_STATUS
            , PROD_IMAGE
            , PROD_VISIT
        FROM PROD
    </select>

    <select id="findByName" resultMap="productsResultMap">
        SELECT
            PROD_CODE
            , PROD_NAME
            , PROD_MANUFAC
            , PROD_PRICE
            , PROD_AGE
            , PROD_EFFI
            , PROD_RECOM
            , PROD_SITE
            , PROD_COOK
            , PROD_VOLUME
            , PROD_GRADE
            , PROD_INGRA
            , PROD_SIZE
            , PROD_DATE
            , PROD_STATUS
            , PROD_IMAGE
            , PROD_VISIT
        FROM PROD
        WHERE PROD_NAME LIKE CONCAT('%',
        REGEXP_REPLACE(#{prodName}, '\\s[0-9]+(\\.[0-9]+)?[a-zA-Z]*$', ''), '%')
    </select>

    <select id="productSearch" parameterType="String" resultMap="productsResultMap">
        SELECT
        PROD_CODE
        , PROD_NAME
        , PROD_MANUFAC
        , PROD_PRICE
        , PROD_AGE
        , PROD_EFFI
        , PROD_RECOM
        , PROD_SITE
        , PROD_COOK
        , PROD_VOLUME
        , PROD_GRADE
        , PROD_INGRA
        , PROD_SIZE
        , PROD_DATE
        , PROD_STATUS
        , PROD_IMAGE
        , PROD_VISIT
        FROM PROD
        <if test="type == 'prodName'">
            WHERE PROD_NAME LIKE CONCAT('%', #{ input }, '%')
        </if>
        <if test="type == 'prodManufac'">
            WHERE PROD_MANUFAC LIKE CONCAT('%', #{ input }, '%')
        </if>
    </select>

    <select id="getLastProdCode" resultType="_int">
        SELECT
        MAX(PROD_CODE)
        FROM PROD
    </select>

    <insert id="insertProduct" parameterType="com.dogpamines.dogseek.products.model.dto.ProductsDTO">
        INSERT INTO PROD(
        PROD_CODE
        , PROD_NAME
        , PROD_MANUFAC
        , PROD_PRICE
        , PROD_AGE
        , PROD_EFFI
        , PROD_RECOM
        , PROD_SITE
        , PROD_COOK
        , PROD_VOLUME
        , PROD_GRADE
        , PROD_INGRA
        , PROD_SIZE
        , PROD_DATE
        , PROD_STATUS
        , PROD_IMAGE
        , PROD_VISIT)
        VALUES(
        #{ prodCode }
        , #{ prodName }
        , #{ prodManufac }
        , #{ prodPrice }
        , #{ prodAge }
        , #{ prodEffi }
        , #{ prodRecom }
        , #{ prodSite }
        , #{ prodCook }
        , #{ prodVolume }
        , #{ prodGrade }
        , #{ prodIngra }
        , #{ prodSize }
        , CURDATE()
        , 'Y'
        , #{ prodImage }
        , 0)
    </insert>

    <update id="updateProduct" parameterType="com.dogpamines.dogseek.products.model.dto.ProductsDTO">
        UPDATE PROD
        <set>
            PROD_CODE = #{ prodCode}
            <if test="prodName != ''">
                , PROD_NAME = #{ prodName }
            </if>
            <if test="prodManufac != ''">
                , PROD_MANUFAC = #{ prodManufac }
            </if>
            <if test="prodPrice != ''">
                , PROD_PRICE = #{ prodPrice }
            </if>
            <if test="prodAge != ''">
                , PROD_AGE = #{ prodAge }
            </if>
            <if test="prodEffi != ''">
                , PROD_EFFI = #{ prodEffi }
            </if>
            <if test="prodRecom != ''">
                , PROD_RECOM = #{ prodRecom }
            </if>
            <if test="prodSite != ''">
                , PROD_SITE = #{ prodSite }
            </if>
            <if test="prodCook != ''">
                , PROD_COOK = #{ prodCook }
            </if>
            <if test="prodVolume != ''">
                , PROD_VOLUME = #{ prodVolume }
            </if>
            <if test="prodGrade != ''">
                , PROD_GRADE = #{ prodGrade }
            </if>
            <if test="prodIngra != ''">
                , PROD_INGRA = #{ prodIngra }
            </if>
            <if test="prodSize != ''">
                , PROD_SIZE = #{ prodSize }
            </if>
            <if test="prodStatus != ''">
                , PROD_STATUS = #{ prodStatus }
            </if>
            <if test="prodImage != ''">
                , PROD_IMAGE = #{ prodImage }
            </if>
            <if test="prodVisit != ''">
                , PROD_VISIT = #{ prodVisit }
            </if>
        </set>
        WHERE PROD_CODE = #{ prodCode }
    </update>

    <delete id="deleteProduct" parameterType="_int">
        DELETE FROM PROD
        WHERE PROD_CODE = #{ prodCode }
    </delete>
</mapper>