<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpamines.dogseek.admin.model.dao.AdminMapper">
    <resultMap id="countsResultMap" type="com.dogpamines.dogseek.common.model.dto.CountsDTO">
        <id property="countsDate" column="COUNTS_DATE"/>
        <result property="countsSignup" column="COUNTS_SIGNUP"/>
        <result property="countsSignin" column="COUNTS_SIGNIN"/>
        <result property="countsProducts" column="COUNTS_PRODUCTS"/>
        <result property="countsBoards" column="COUNTS_BOARDS"/>
    </resultMap>

    <select id="selectAllCountsInDate" resultMap="countsResultMap">
        SELECT
            COUNTS_DATE
            , COUNTS_SIGNUP
            , COUNTS_SIGNIN
            , COUNTS_PRODUCTS
            , COUNTS_BOARDS
        FROM COUNTS
        WHERE COUNTS_DATE >= SUBDATE(CURDATE(), 14)
        ORDER BY COUNTS_DATE DESC
    </select>

    <select id="selectRemainCountsInDate" resultMap="countsResultMap">
        SELECT
            SUBDATE(CURDATE(), 15) AS COUNTS_DATE
            , SUM(COUNTS_SIGNUP) AS COUNTS_SIGNUP
            , SUM(COUNTS_SIGNIN) AS COUNTS_SIGNIN
            , SUM(COUNTS_PRODUCTS) AS COUNTS_PRODUCTS
            , SUM(COUNTS_BOARDS) AS COUNTS_BOARDS
        FROM COUNTS
        <![CDATA[
            WHERE COUNTS_DATE < SUBDATE(CURDATE(), 14)
        ]]>
    </select>

    <select id="selectCountsInWeek" resultMap="countsResultMap">
        SELECT
            SUBDATE(CURDATE(), 6) AS COUNTS_DATE
            , SUM(COUNTS_SIGNUP) AS COUNTS_SIGNUP
            , SUM(COUNTS_SIGNIN) AS COUNTS_SIGNIN
            , SUM(COUNTS_PRODUCTS) AS COUNTS_PRODUCTS
            , SUM(COUNTS_BOARDS) AS COUNTS_BOARDS
        FROM COUNTS
        <![CDATA[
            WHERE COUNTS_DATE >= SUBDATE(CURDATE(), 6)
        ]]>
    </select>

    <select id="selectCountsInMonth" resultMap="countsResultMap">
        SELECT
            DATE_FORMAT(COUNTS_DATE, '%Y-%m') AS COUNTS_DATE
            , SUM(COUNTS_SIGNUP) AS COUNTS_SIGNUP
            , SUM(COUNTS_SIGNIN) AS COUNTS_SIGNIN
            , SUM(COUNTS_PRODUCTS) AS COUNTS_PRODUCTS
            , SUM(COUNTS_BOARDS) AS COUNTS_BOARDS
        FROM COUNTS
        WHERE COUNTS_DATE > LAST_DAY(NOW() - INTERVAL 2 MONTH)
        GROUP BY DATE_FORMAT(COUNTS_DATE, '%Y-%m')
        ORDER BY COUNTS_DATE DESC
    </select>

    <select id="selectTotalCounts" resultMap="countsResultMap">
        SELECT
            CURDATE()
            , SUM(COUNTS_SIGNUP) AS COUNTS_SIGNUP
            , SUM(COUNTS_SIGNIN) AS COUNTS_SIGNIN
            , SUM(COUNTS_PRODUCTS) AS COUNTS_PRODUCTS
            , SUM(COUNTS_BOARDS) AS COUNTS_BOARDS
        FROM COUNTS
    </select>
</mapper>