<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpamines.dogseek.user.model.dao.UserMapper">

    <resultMap id="login" type="com.dogpamines.dogseek.user.model.dto.UserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userPlatform" column="USER_PLATFORM"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPass" column="USER_PW"/>
        <result property="userNick" column="USER_NICK"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userSignup" column="USER_SIGNUP"/>
        <result property="userLatest" column="USER_LATEST"/>
        <result property="userAuth" column="USER_AUTH"/>
    </resultMap>

    <select id="findByUsername" resultMap="login">
        SELECT *
        FROM USER
        WHERE USER_ID = #{ userId }
    </select>

    <insert id="regist" parameterType="com.dogpamines.dogseek.user.model.dto.UserDTO">
        INSERT INTO USER
        (
        USER_ID
        , USER_PW
        , USER_NICK
        , USER_PHONE
        , USER_SIGNUP
        , USER_LATEST
        , USER_AUTH
        )
        VALUES
        (
        #{ userId }
        , #{ userPass }
        , #{ userNick }
        , #{ userPhone }
        , #{ userSignup}
        , #{ userLatest }
        , #{ userAuth }
        )
    </insert>

    <select id="selectUserByCodeByAdmin" parameterType="_int" resultMap="login">
        SELECT
            USER_CODE
            , USER_ID
            , USER_NICK
            , USER_PHONE
            , USER_SIGNUP
            , USER_LATEST
            , USER_AUTH
        FROM USER
        WHERE USER_CODE = #{userCode}
    </select>

    <select id="selectAllUsersByAdmin" parameterType="String" resultMap="login">
        SELECT
            USER_CODE
            , USER_ID
            , USER_NICK
            , USER_PHONE
            , USER_SIGNUP
            , USER_LATEST
            , USER_AUTH
        FROM USER
        <if test="type == 'userNick'">
            WHERE USER_NICK LIKE CONCAT('%', #{ input }, '%')
        </if>
        <if test="type == 'admin'">
            WHERE USER_AUTH = 'ADMIN'
        </if>
        <if test="type == 'user'">
            WHERE USER_AUTH = 'USER'
        </if>
        <if test="type == 'sleep'">
            WHERE USER_AUTH = 'SLEEP'
        </if>
        ORDER BY USER_CODE
    </select>

    <select id="findUserAuth" parameterType="_int">
        SELECT
            USER_AUTH
        FROM USER
        WHERE USER_CODE = #{ userCode }
    </select>

    <update id="updateUserByAdmin" parameterType="String">
        UPDATE USER
            SET USER_AUTH = 'ADMIN'
        WHERE USER_CODE = #{ userCode }
    </update>

    <update id="deleteUserByAdmin" parameterType="_int">
        UPDATE USER
        <if test="userAuth == 'USER'">
            SET USER_AUTH = 'SLEEP'
        </if>
        <if test="userAuth == 'SLEEP'">
            SET USER_AUTH = 'USER'
        </if>
        WHERE USER_CODE = #{ userCode }
    </update>
</mapper>